* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px;
  border-radius: 50px;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  text-shadow: 3px 3px 4px black;
  padding: 0.5em;
  border: 6px solid white;
  border-radius: 50px;
}

section > div.layover {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

section.siracusa {
  background-image: url(../img/siracusa.jpg);
}

section.roma {
  background-image: url(../img/roma.jpg);
}

section.milano {
  background-image: url(../img/milano.jpg);
}

section.lisbona {
  background-image: url(../img/lisbona.jpg);
}
